*{
	font-family: ubuntu;
}
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
.navbar{
	position: relative;
    width: inherit;
}

.wrapper{
	background-color: #F7FCFE;
}